body{
	background-image: url(https://pbs.twimg.com/media/CtdVAjLWYAAbMky.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

p{
	align-content: center;
	text-align: center;
}

a, button{
	vertical-align: baseline;
	width: 250px;
	height: 100px;
	background-color: #800020;
	font-size: 40px;
	text-decoration: none;
	color: black;
}
